{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": ["plugin:react/recommended", "liferay"],
	"parser": "babel-eslint",
	"plugins": ["babel", "react"],
	"rules": {
		"no-console": 0,
		"require-jsdoc": 0,
		"comma-dangle": 0,
		"eol-last": [2, "never"],
		"max-len": 0,
		"sort-vars": 2,
		"valid-jsdoc": 0,
		"no-invalid-this": 0,
		"babel/no-invalid-this": 1,
		"no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
		"react/jsx-sort-props": 2,
		"sort-keys": [
			2,
			"asc",
			{
				"caseSensitive": false
			}
		]
	}
}
