.criterion-row-root {
	border: 2px solid transparent;
	border-radius: 4px;
	padding: 8px 16px;
	display: flex;
	flex: 1;

	&.dnd-hover {
		border: 2px solid #0B5FFF;
	}

	.edit-container {
		padding: 0;
		margin: 0;
		display: flex;
		width: 100%;

		.criterion-input {
			margin-right: 16px;
		}

		.operator-input {
			flex-shrink: 0;
			width: 240px;
		}

		.delete-button {
			flex-shrink: 0;
		}
	}

	.read-only-container {
		padding: 0;
		margin: 0;
		display: flex;
		width: 100%;

		.criteria-string {
			font-size: 14px;
			font-weight: 500;
			color: #6B6C7E;
		}

		.property-string, .value-string {
			font-weight: 700;
			color: #272833;
		}
	}
}