.criteria-sidebar-root {
	background-color: #F7F8F9;

	.properties-list {
		list-style: none;
		margin: 0;
		padding: 0;

		.criteria-sidebar-item-root {
			align-items: center;
			border-left: 3px solid #4B9BFF;
			display: flex;
			font-size: 14px;
			margin: 4px 0;
			padding: 8px 16px 8px 8px;

			.criteria-sidebar-item-type {
				margin: 0 8px;
			}

			.lexicon-icon-drag {
				color: #A7A9BC;
			}

			&.dragging {
				opacity: 0.4;
			}

			&:active {
				cursor: grabbing;
			}

			&:hover {
				cursor: grab;
			}
		}
	}

	.sidebar-header {
		border-bottom: 1px solid #E7E7ED;
		font-size: 16px;
		font-weight: 600;
		padding: 16px 24px;
	}
}