.criterion-row-root {
	border: 2px solid transparent;
	border-radius: 4px;
	display: flex;
	flex: 1;
	padding: 8px 16px;

	&.dnd-hover {
		border: 2px solid $primary;
	}

	.edit-container {
		align-items: center;
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;

		.criterion-input {
			flex: 1;
			margin-right: 16px;
		}
	}

	.read-only-container {
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;

		.criteria-string {
			color: $mainLighten28;
			font-size: 14px;
			font-weight: 500;
		}

		.property-string, .value-string {
			color: $main;
			font-weight: 700;
		}
	}
}