.criterion-row-root {
	border: 2px solid transparent;
	border-radius: 4px;
	display: flex;
	flex: 1;
	padding: 8px 0;

	&.dnd-hover {
		border: 2px solid $primary;
	}

	.drag-icon {
		color: $mainLighten52;
		margin-right: 8px;

		&:active {
			cursor: grabbing;
		}

		&:hover {
			cursor: grab;
		}
	}

	.edit-container {
		align-items: center;
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;

		.criterion-input {
			flex: 1;
			margin-right: 16px;
		}
	}

	.read-only-container {
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;

		.criteria-string {
			color: $mainLighten28;
			font-weight: 500;
		}

		b {
			color: $main;
			font-weight: 700;
		}
	}
}