.criteria-builder-root {
	display: flex;
	max-width: 1280px;

	.criteria-builder-section-main {
		flex: 1;
	}

	.criteria-builder-section-sidebar {
		width: 380px;
	}

	.criteria-builder-toolbar {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 16px;
		width: 100%;
	}

	.empty-state {
		background-color: $lightBackground;
		border: 1px solid $mainLighten74;
		border-left: 3px solid $chartBlue;
		border-radius: 4px;
		color: $mainLighten28;
		cursor: pointer;
		font-weight: 600;
		padding: 16px 32px;
	}
}