.drop-zone-root {
	position: relative;

	.drop-zone-target {
		align-items: center;
		display: flex;
		height: 16px;
		position: absolute;
		width: 100%;

		&.drop-zone-target-before {
			top: -16px;
		}
	}

	.drop-zone-indicator {
		background-color: #80ACFF;
		height: 2px;
		width: 100%;
	}
}