$chartBlue: #4B9BFF;

$main: #272833;
$mainLighten4: #30313F;
$mainLighten8: #393A4A;
$mainLighten28: #6B6C7E;
$mainLighten52: #A7A9BC;
$mainLighten65: #CDCED9;
$mainLighten74: #E7E7ED;
$secondaryHover: #F7F8F9;

$primary: #0B5FFF;
$lightBackground: #F1F2F5;