{namespace ClayQueryGroup}

/**
* Renders a query group that can contain multiple query rows.
*/
{template .render}
	{@param spritemap: string}
	{@param? queries: list<?>}

	<div class="sheet">

	</div>
{/template}